{% extends 'base.html' %}
{% block content %}
<div class="text-center jumbotron">

  <h1>My Collection</h1>
  {% for game in games %}
  <div class="container text-center d-flex flex-column align-items-center list-group-item">
    <br>
    <a href="{% url 'detail' game.id %}">
      <img class="img-thumbnail" style="width: 50%" src="{{ game.photos }}" alt=""><br>
      {{ game.name }}
    </a>
  </div>
  <br>
  {% endfor %}
  <a class="btn btn-secondary" href="{% url 'game_create' %}">Add Game</a>

</div>
{% endblock %}
